In [ ]:
#Student Project - Not Completed

In [ ]:
import pandas as pd
import MySQLdb
con = MySQLdb.connect(user='python_user',passwd='Python123',host='localhost', db='Student_Reg')
cursor = con.cursor()
if cursor:
    print('connection successful!')

def execute_query(query: str):
    cursor.execute(query)
    con.commit

class StudentReg:
    
    def __init__(self):
#         self.first_name = None 
#         self.last_name = None
        self.full_name = Studentname().full_name
        self.username = UserName().stud_username
        self.gender = input('Enter your gender')
#         self.birth_date = input('Enter DOB in YYYY-MM-DD')
#         self.address = Address().full_address

class StudentName:
    def __init__(self):
        self.first_name: str = input('Enter first name: ')
        self.last_name: str = input('Enter last name: ')
        self.full_name: str = f'{self.first_name} {self.last_name}'
#         self.stud_username = f'{self.firstname_extract}{self.lastname_extract}{self.addnum}'
        
class UserName(StudentName):
    def __init__(self):
        super().__init__()
        self.firstname_extract = self.first_name[0].upper()
        self.lastname_extract = self.last_name[:5].capitalize()
        self.addnum = '01'
        self.stud_username =  f'{self.firstname_extract}{self.lastname_extract}{self.addnum}'
        self.birth_date = input('Enter DOB in YYYY-MM-DD')
        self.address = Address().full_address
        query = f"""
        INSERT INTO student_details (student_name,username,birth_date,address)
        VALUES({self.full_name},{self.stud_username},{self.birth_date},{self.address})
        """
        execute_query(query)            

            
class Address:
    
    def __init__(self):
        self.street = input('Enter the street address: ').capitalize()
        self.city = input('Enter the city name: ').capitalize()
        self.county = input('Enter the county name: ').capitalize()
        self.post_code = input('Enter the post code: ').upper()
        self.full_address = f'{self.street}, {self.city}, ' \
                        f'{self.county}. {self.post_code}'        
            

StudentReg()

In [1]:
pwd

'C:\\Users\\Olu\\PythonTraining\\PandasTraining\\MYSQL_Connect_12092020\\StudentProject'

In [ ]:
import MySQLdb
con = MySQLdb.connect(user='python_user',passwd='Python123',host='localhost', db='Student_Reg')
cursor = con.cursor()
import pandas as pd
query = 'Select * from student_details'
df = pd.read_sql(query, con)
df

In [ ]:
def username(firstname, lastname):
    firstname_extract = firstname[0].upper()
    lastname_extract = lastname[:5].capitalize()
    addnum = '01'
    return firstname_extract + lastname_extract + addnum
username('olu', 'jah')

In [ ]:
def username(first_name, last_name):
#     result = []
    return first_name[0].upper() +''+ last_name[:3].capitalize() + ''+ '01'

username('Oluyinka', 'Solanke')

In [ ]:
class StudentName:
    
    def __init__(self):
#         self.first_name: str = input('Enter first name: ')
#         self.last_name: str = input('Enter last name: ')
        self.full_name: str = StudentFullName().full_name
        self.user_name = UserName().studusername
        self.birth_date = input('Enter birth date: ')
        self.address = Address().full_address
#         self.stud_username = self.first_name[0].upper() +''+ self.last_name[:3].capitalize() + ''+ '01'

        query = f""" 
        INSERT INTO student_details(
        student_name, username, birth_date, address)
        values ('{self.full_name}', '{self.user_name}', '{self.birth_date}', '{self.address}')
        """
        cursor.execute(query)
        con.commit()
        print(cursor.rowcount, "record inserted")
        
class Address:
    
    def __init__(self):
        self.street = input('Enter the street address: ').capitalize()
        self.city = input('Enter the city name: ').capitalize()
        self.county = input('Enter the county name: ').capitalize()
        self.post_code = input('Enter the post code: ').upper()
        self.full_address = f'{self.street}, {self.city}, ' \
                        f'{self.county}. {self.post_code}'        


class StudentFullName:
    
    def __init__(self):
        self.first_name: str = input('Enter first name: ')
        self.last_name: str = input('Enter last name: ')
        self.full_name: str = f'{self.first_name} {self.last_name}'

class UserName:
    
    def __init__(self):
        self.first_name = input('Enter first name: ')
        self.last_name = input('Enter last name: ')
        self.studusername = self.first_name[0].upper() +''+ self.last_name[:3].capitalize() + ''+ '01'
            

StudentName()

In [ ]:
import pandas as pd
import MySQLdb
con = MySQLdb.connect(user='python_user',passwd='Python123',host='localhost', db='Student_Reg')
cursor = con.cursor()
if cursor:
    print('connection successful!')

query = ('Select * from student_details')
df = pd.read_sql(query, con)
df

In [ ]:
class StudentName:
    
    def __init__(self):
    
        self.first_name: str = input('Enter first name: ')
        self.last_name: str = input('Enter last name: ')
        self.full_name: str = f'{self.first_name} {self.last_name}'
        self.user_name = self.first_name[0].upper() +''+ self.last_name[:3].capitalize() + ''+ '01'
        self.birth_date = input('Enter birth date: ')
        self.address = input('Enter your address: ')
        
        
        query = f""" 
        INSERT INTO student_details(
        student_name, username, birth_date, address)
        values ('{self.full_name}', '{self.user_name}', '{self.birth_date}', '{self.address}')
        """
        cursor.execute(query)
        con.commit()
        print(cursor.rowcount, "record inserted")

StudentName()

In [ ]:
class StudentName:
    
    def __init__(self):
        self.first_name: str = input('Enter first name: ')
        self.last_name: str = input('Enter last name: ')
        query = f""" 
        INSERT INTO student_test(
        first_name, last_name)
        values ('{self.first_name}', '{self.last_name}')
        """
        cursor.execute(query)
        con.commit()
        print(cursor.rowcount, "record inserted")

StudentName()
        
#         self.full_name: str = f'{self.first_name} {self.last_name}'
#         self.stud_username = None